@use "sass:color"
@use "../../styles/helpers" as * 

.footer
    border-top: 1px solid $neutrals6
    +dark
        border-color: $neutrals3


.about
    padding: 18px 24px
    border-radius: 16px
    background: $neutrals8
    border: 1px solid $neutrals6
    box-shadow: 0px 40px 32px -24px rgba(15, 15, 15, 0.12)
    +dark
        background: $neutrals2
        border-color: $neutrals3
    
.category
    margin-bottom: 18px
    +body-bold-1
    +t
        margin-block-end: 24px

.text
    margin-bottom: 4px
    +body-bold-2
    
    span
        +caption-1
        font-weight: 400


.scroll
        display: flex
        margin: 0 -64px
        overflow: auto
        overflow-x: auto 
        -webkit-overflow-scrolling: touch
        &::-webkit-scrollbar
            height: 8px
        &::-webkit-scrollbar-track
            background: transparent
        &::-webkit-scrollbar-thumb
            background-color: rgba(0, 0, 0, 0.3)
            border-radius: 4px
        +dark
            &::-webkit-scrollbar-thumb
                background-color: rgba(255, 255, 255, 0.3)
        &:before,
        &:after
            content: ""
            flex-shrink: 0
            width: 64px
            height: 1px


.table 
    margin: 20px auto 0px


.caption 
  caption-side: bottom
  padding: 10px
  font-weight: bold



.thead
    background: $neutrals6
    +dark
        background: $neutrals3


.th
    padding: 8px 10px
    text-align: left
    button
        +caption-1
        font-weight: 700
    &.free 
        color: $blue
    &.member 
        color: $green
    &.admin 
        color: $red

.tcol
    align-content: center
    padding: 8px 10px
    text-align: left

    &.free 
        color: $blue
    &.member 
        color: $green
    &.admin 
        color: $red
    &.sale 
        color: $yellow
    &.ban
        color: $red
  

.tsel 
    padding: 8px 10px
    button
        +caption-1
        font-weight: 700

.tselected
    padding: 8px 10px
    text-align: center

.trow
    border-radius: 20px
    &:nth-of-type(even) 
        overflow: hidden
        background: $neutrals7
        +dark
            background: $neutrals2

.selectbtn
    color: inherit

.updateBtn
    color: inherit

.updateBtnRed
    color: inherit
    &:hover
        background: $red

.checkboxes
    display: flex
    flex-wrap: wrap
    gap: 8px
    label
        display: flex
        align-items: center
        gap: 4px

.separator
    color: #ccc

.btnContainer
    display: flex
    flex-wrap: wrap
    gap: 16px
    margin: 20px 0